# Ignore everything
*

# But not Java files...
!.gitignore
!build.gradle
!gradlew
!gradlew.bat
!settings.gradle
!*.java
!*.md
!*.yaml

# Some needed files
!local.properties
!hibernate.properties
!*.json

# And map
!maps/*

# ...even if they are in subdirectories
!*/