# Ignore everything
*

# But not Java files...
!.gitignore
!build.gradle
!gradlew
!gradlew.bat
!settings.gradle
!*.java
!*.md
!*.yaml
!*.json
!gradle/wrapper/*

# ...even if they are in subdirectories
!*/